<ul>
  <li><%= link_to 'Static Page', root_path %></li>
  <li><%= link_to 'Client Rendered React', client_bl_registry_react_path %></li>
  <li><%= link_to 'Server Rendered React', server_bl_registry_react_path %></li>
  <li><%= link_to 'Admin Static Page', bl_admin_path %></li>
  <li><%= link_to 'Admin Client Rendered React', client_bl_admin_react_path %></li>
</ul>
